.smallname {
    position: absolute;
    pointer-events: none;
    display: none;
    filter: invert(1);
    /* or to blue */
    filter: invert(0.5) sepia(1) saturate(3) hue-rotate(175deg);
}
.midname {
    position: absolute;
    pointer-events: none;
    filter: invert(1);
    /* or to blue */
    filter: invert(0.5) sepia(1) saturate(3) hue-rotate(175deg);
}
.largename {
    position: absolute;
    pointer-events: none;
    filter: invert(1);
    /* or to blue */
    filter: invert(0.5) sepia(1) saturate(3) hue-rotate(175deg);
    display: none;

}
.textboximage {
    position: absolute;
    pointer-events: none;

}



@font-face {
    font-family: Seurat;
    src: url(FOT-Seurat_Pro_B.otf);
}
@font-face {
    font-family: Bokutoh;
    src: url(FOT-RodinBokutoh_Pro_EB.otf);
}

.name {
    position: absolute;
    pointer-events: none;
    text-align: right;
    font-family: Seurat;
    font-size: 47px;
    transform: rotate(-5.9deg);
    color: #ffffff;
    margin-left: 122px;
    margin-top: 34px;
    white-space: nowrap;
    width: 70px;
}
.textbox {
    position: absolute;
    pointer-events: none;
    max-width: 1220px; /* Adjust this value to your desired width */
    line-height: 140%;
    word-wrap: break-word;
    text-align: center;

    color: inherit; /* Inherit color from parent */


    font-family: Bokutoh;
    font-size: 60px;
    color: #716F5A;
    margin-left: 113px;
    margin-top: 112px;
}




.inputtextname{
    margin-top: 0px;
    margin-left: 300px;
    width:170px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #908f8f;
    border-radius: 4px;
    box-sizing: border-box;
}
.inputtextpara{
    margin-top: 10px;
    margin-left: 300px;
    width:900px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #908f8f;
    border-radius: 4px;
    box-sizing: border-box;
}
.download{

    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #908f8f;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(148, 207, 38, 0.32);
}
.sizebtn{

    padding: 6px 20px;
    display: inline-block;
    border: 1px solid #908f8f;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(38, 142, 207, 0.32);
}

.body{
    background-color: transparent;
}